<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">

<script src="/assets/js/pace.min.js"></script>
<link href="/assets/css/pace-theme-flash.css" rel="stylesheet" />

    <title>管理员信息修改</title>
    <link rel="stylesheet" href="/assets/css/sweetalert.css">
<link rel="stylesheet" href="/assets/css/app.css">


  </head>
  <body>
    <div class="container" id="pjax-container">
      <div class="container" id="pjax-content">
        <div class="navbar">
    <div class="top">
        <div class="logo">
            <span>橙子CMS v0.1</span>
        </div>

        <ul class="we-nav nav-top">
            <foreach name="tops" item="top">
                <eq name="top.display" value="1">
                    <li class="{$top.active}">
                        <a href="{:url($top['name'])}" class="">
                            <span class="icon fa fa-{$top['icon']}"></span>
                            <span>{$top.title}</span>
                        </a>
                </eq>
                </li>
            </foreach>
        </ul>
    </div>

</div>

        <div class="container-content">
          <div class="container-header we-cf">
  <div class="we-fl">
    <span class="header-title">&nbsp;/ {$title}</span>
  </div>

  <div class="we-fr sign-out">
    <a href="{:url('admin/auth/logout')}"><span class="fa fa-sign-out fa-3x"></span></a>
  </div>
  <div class="we-fr sign-out">
    <a href="{:url('admin/auth/info')}" class="pjax"><span class="fa fa-vcard fa-3x"></span></a>
  </div>
</div>
<notempty name="subs">
<div class="nav-sub we-cf">
  <ul class="we-cf">
      <foreach name="subs" item="vo">

          <li class="{$vo.active} display-{$vo.display} we-fl">
              <a href="{:url($vo['name'])}" class="pjax">{$vo.title}</a>
          </li>

      </foreach>

  </ul>
</div>

</notempty>

          <div class="container-wrap">
            <form class="we-form we-panel " action="{:url('')}" method="post">
              <fieldset style="width:400px;">

                <legend>管理员信息修改</legend>

                <div class="we-form-group">
                  <label for="" class="we-label">开发者邮箱</label>
                  <div class="">
                    <input type="email" name="email" value="{$data.email}" placeholder="输入开发者邮箱" required="" disabled="">
                  </div>
                </div>

                <div class="we-form-group">
                  <label for="" class="we-label">名称</label>
                  <div class="">
                    <input type="text" name="name" value="{$data.name}" placeholder="输入管理员名称" disabled="">
                  </div>
                </div>

                <div class="we-form-group">
                  <label for="" class="we-label">登录密码<small class="we-text-danger">(不修改不需填写)</small></label>
                  <div class="">
                    <input type="password" name="password" value="" placeholder="输入登录密码">
                  </div>
                </div>

                <div class="we-form-group">
                  <label for="" class="we-label">再次输入密码<small class="we-text-danger">(不修改不需填写)</small></label>
                  <div class="">
                    <input type="password" name="password_again" value="" placeholder="再次输入登录密码">
                  </div>
                </div>



                <div class="we-form-group">
                  <input type="hidden" name="id" value="{$data.id}">
                  <hr>
                  <input type="submit" value="提交" class="we-btn we-btn-success">
                  <input type="submit" value="重置" class="we-btn we-btn-warning">
                </div>

              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>

  </body>
</html>
