<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">

<script src="/assets/js/pace.min.js"></script>
<link href="/assets/css/pace-theme-flash.css" rel="stylesheet" />

    <title>{$title}</title>
    <link rel="stylesheet" href="/assets/css/sweetalert.css">
<link rel="stylesheet" href="/assets/css/app.css">


</head>

<body>
    <div class="container" id="pjax-container">
        <div class="container" id="pjax-content">
            <div class="navbar">
    <div class="top">
        <div class="logo">
            <span>橙子CMS v0.1</span>
        </div>

        <ul class="we-nav nav-top">
            <foreach name="tops" item="top">
                <eq name="top.display" value="1">
                    <li class="{$top.active}">
                        <a href="{:url($top['name'])}" class="">
                            <span class="icon fa fa-{$top['icon']}"></span>
                            <span>{$top.title}</span>
                        </a>
                </eq>
                </li>
            </foreach>
        </ul>
    </div>

</div>

            <div class="container-content">
                <div class="container-header we-cf">
  <div class="we-fl">
    <span class="header-title">&nbsp;/ {$title}</span>
  </div>

  <div class="we-fr sign-out">
    <a href="{:url('admin/auth/logout')}"><span class="fa fa-sign-out fa-3x"></span></a>
  </div>
  <div class="we-fr sign-out">
    <a href="{:url('admin/auth/info')}" class="pjax"><span class="fa fa-vcard fa-3x"></span></a>
  </div>
</div>
<notempty name="subs">
<div class="nav-sub we-cf">
  <ul class="we-cf">
      <foreach name="subs" item="vo">

          <li class="{$vo.active} display-{$vo.display} we-fl">
              <a href="{:url($vo['name'])}" class="pjax">{$vo.title}</a>
          </li>

      </foreach>

  </ul>
</div>

</notempty>

                <div class="container-wrap">

                  <div class="we-g">
                    <h2 class="we-u-md-12">项目信息编辑</h2>
                    <form class="we-form we-u-md-12" action="{:url('')}" method="post">

                            <div class="we-form-group we-g">
                                <label for="" class="we-label we-u-sm-3">项目名称</label>
                                <div class="we-u-sm-9">
                                    <input type="text" name="title" value="{$data.title}" placeholder="输入项目名称" required="">
                                </div>
                            </div>

                            <div class="we-form-group we-g">
                                <label for="" class="we-label we-u-sm-3">项目代号</label>
                                <div class="we-u-sm-9">
                                    <input type="text" value="" placeholder="{$data.name}" disabled="">
                                </div>
                            </div>

                            <div class="we-form-group we-g">
                                <label for="" class="we-label we-u-sm-3">配置域名</label>
                                <div class="we-u-sm-9">
                                    <input type="text" name="domain" placeholder="" value="{$data.domain}">
                                </div>
                            </div>

                            <div class="we-form-group we-g">
                                <label for="" class="we-label we-u-sm-3">Logo地址</label>
                                <div class="we-u-sm-9">
                                    <input type="hidden" name="logo" id="logo" placeholder="" value="{$data.logo}">
                                    <button type="button" class="we-btn-img we-btn we-btn-primary" data-id="logo">上传</button>
                                    <div id="pre-img-logo" class="we-padding-top">
                                        <notempty name="data['logo']">
                                            <img src="{$data['logo']}" alt="" height="50" />
                                        </notempty>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <foreach name="configs" item="c">
                                <div class="we-form-group we-g">
                                    <label for="" class="we-label we-u-sm-3">{$c[1]} <small class="we-text-danger">{$c[3] ? $c[3] : ''}</small></label>
                                    <div class="we-u-sm-9">
                                        <eq name="c[2]" value="num">
                                            <input type="number" name="info[{$c[0]}]" value="{$info[$c[0]] ? $info[$c[0]] : ''}">
                                        </eq>
                                        <eq name="c[2]" value="char">
                                            <input type="text" name="info[{$c[0]}]" value="{$info[$c[0]] ? $info[$c[0]] : ''}">
                                        </eq>
                                        <eq name="c[2]" value="url">
                                            <input type="url" name="info[{$c[0]}]" value="{$info[$c[0]] ? $info[$c[0]] : ''}">
                                        </eq>
                                        <eq name="c[2]" value="text">
                                            <textarea name="info[{$c[0]}]" rows="5" cols="40">{$info[$c[0]] ? $info[$c[0]] : ''}</textarea>
                                        </eq>
                                        <eq name="c[2]" value="img">

                                            <input type="hidden" name="info[{$c[0]}]" id="{$c[0]}" placeholder="" value="{$info[$c[0]] ? $info[$c[0]] : ''}">
                                            <button type="button" class="we-btn-img we-btn we-btn-primary" data-id="{$c[0]}">上传</button>
                                            <div id="pre-img-{$c[0]}" class="we-padding-top">
                                                <notempty name="info[$c[0]]">
                                                    <img src="{$info[$c[0]]}" alt="" height="50" />
                                                </notempty>
                                            </div>

                                        </eq>
                                        <eq name="c[2]" value="editor">
                                            <textarea name="info[{$c[0]}]" rows="8" cols="40" class="we-editor">{$info[$c[0]] ? $info[$c[0]] : ''}</textarea>
                                        </eq>
                                    </div>

                                </div>
                            </foreach>

                            <div class="we-form-group">
                                <input type="hidden" name="id" value="{$data.id}">
                                <hr>
                                <input type="submit" value="提交" class="we-btn we-btn-success">
                                <input type="reset" value="重置" class="we-btn we-btn-warning">
                            </div>

                    </form>

                  </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/app.js?t=1.0.1"></script>
</body>

</html>
