<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">

<script src="/assets/js/pace.min.js"></script>
<link href="/assets/css/pace-theme-flash.css" rel="stylesheet" />

    <title>微信个人中心</title>
    <link rel="stylesheet" href="/assets/css/sweetalert.css">
<link rel="stylesheet" href="/assets/css/default.css">


  </head>
  <body>
    <div id="pjax-container">
      <div id="pjax-content">

				<section class="member-wechat-index">
          <div class=" o-g header o-padding-top o-padding-bottom">
            <div class="o-u-sm-4">
              <img src="{$member.avatar}" alt="" width="100%" class="o-round">
            </div>
            <div class="o-u-sm-8">
              <h1>
                <span>{$member.name} </span>
                <a href="{:url('auth/wxUnbind')}" class="confirm-ajax fa fa-window-close o-text-danger" title="确认解除绑定？"></a>
              </h1>
              <small><span class="fa fa-mobile"></span> {$member.phone}</small>
              <div>
                <a href="{:url('member/wechat/info')}" class="pjax">个人资料信息 <span class="fa fa-edit"></span></a>
              </div>
            </div>


          </div>

          <a href="{:url('member/wechat/assets')}" class="pjax o-g o-padding index-list o-block">
            <div class="o-u-sm-2 ">
              <span class="fa fa-money fa-2x"></span>
            </div>
            <div class="o-u-sm-8 ">
              <span class="">我的资产</span>
            </div>
            <div class="o-u-sm-2 o-text-right">
              <span class="fa fa-angle-right"></span>
            </div>
          </a>

          <a href="{:url('member/wechat/finance')}" class="pjax o-g o-padding index-list o-block">
            <div class="o-u-sm-2 ">
              <span class="fa fa-money fa-2x"></span>
            </div>
            <div class="o-u-sm-8 ">
              <span class="">我的投资</span>
            </div>
            <div class="o-u-sm-2 o-text-right">
              <span class="fa fa-angle-right"></span>
            </div>
          </a>

          <div class="o-padding">
            <span>P2P金融</span>
          </div>

          <a href="{:url('wechat/p2p/index')}" class="pjax o-g o-padding index-list o-block">
            <div class="o-u-sm-2 ">
              <span class="fa fa-money fa-2x"></span>
            </div>
            <div class="o-u-sm-8 ">
              <span class="">我要出借</span>
            </div>
            <div class="o-u-sm-2 o-text-right">
              <span class="fa fa-angle-right"></span>
            </div>
          </a>
          <a href="{:url('wechat/p2p/apply')}" class="pjax o-g o-padding index-list o-block">
            <div class="o-u-sm-2 ">
              <span class="fa fa-money fa-2x"></span>
            </div>
            <div class="o-u-sm-8 ">
              <span class="">我要借款</span>
            </div>
            <div class="o-u-sm-2 o-text-right">
              <span class="fa fa-angle-right"></span>
            </div>
          </a>


				</section>

      </div>
    </div>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/index.js"></script>

  </body>
</html>
