<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">

<script src="/assets/js/pace.min.js"></script>
<link href="/assets/css/pace-theme-flash.css" rel="stylesheet" />

    <title>我的资料</title>
    <link rel="stylesheet" href="/assets/css/sweetalert.css">
<link rel="stylesheet" href="/assets/css/default.css">


  </head>
  <body>
    <div id="pjax-container">
      <div id="pjax-content">

				<section class="wechat-member-info">

					<h3 class="o-padding-top o-padding-left">我的资料</h3>
					<hr>

					<div class="apply-form o-padding">
						{$form}
					</div>
					<div class="apply-help o-margin o-padding-left">

					</div>
				</section>

      </div>
    </div>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/index.js"></script>

  </body>
</html>
