<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">

    <title>{$title}</title>
    <link rel="stylesheet" href="/assets/css/sweetalert.css">
<link rel="stylesheet" href="/assets/css/app.css">


</head>

<body>
    <div class="container" id="pjax-container">
        <div class="container" id="pjax-content">
            <div class="navbar">
  <div class="top">
    <div class="logo">
      <span class="we-text-xxl">橙子开发</span>
    </div>

    <ul class="we-nav nav-top">
      <foreach name="tops" item="top">
      <li class="{$top.active}">
        <a href="{:url($top['url'])}" class="pjax">
          <span class="fa fa-{$top.code} icon"></span>
          <span>{$top.name}</span>
        </a>
      </li>
    </foreach>
    </ul>
  </div>

</div>


            <div class="container-content">
                <div class="container-header we-cf">
  <div class="we-fl ">
    <span class="header-title"> - {$title}</span>

  </div>

  <div class="we-fr sign-out">
    <a href="{:url('dev/auth/logout')}"><span class="fa fa-sign-out fa-3x"></span></a>
  </div>
  <div class="we-fr sign-out">
    <a href="{:url('dev/user/update?id='.session('dev_uid'))}" class="pjax"><span class="fa fa-vcard fa-3x"></span></a>
  </div>
</div>

<notempty name="subs">
<div class="nav-sub">
  <ul class="we-cf">
    <foreach name="subs" item="vo">
      <notempty name="vo.url">
      <li class="{$vo.active} we-block we-fl">
        <a href="{:url($vo['url'])}" class="pjax">{$vo.name}</a>
      </li>
    </notempty>
  </foreach>

  </ul>
</div>
</notempty>

                <div class="container-wrap">
                    <notempty name="list">
                        <div class="we-scrollable-horizontal we-panel we-padding">
                            <table class="we-table we-table-striped we-text-nowrap we-table-centered we-table-compact we-table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <foreach name="fields" item="vo">
                                          <th>{$vo[1]}</th>
                                        </foreach>

                                        <th>操作</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="list" item="vo">
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <foreach name="fields" item="v" key="k">
                                              <td>{$vo[$k]}</td>
                                            </foreach>

                                            <td>

                                                <a href="{:url('dev/data/views?model='.$model['id'].'&id='.$vo['id'])}" class="btn-ac btn-ac-info">查看</a>
                                          </td>


                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                            <div class="page">
                              {$page}
                            </div>
                        </div>
                        <else/>
                        <p class="we-text-center we-text-danger">未查询到数据</p>
                    </notempty>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>

</body>

</html>
