
.o-login-header{
	small {
		color: @color-grey;
		line-height: 1rem;
	}
}

.o-login {

	width: 100%;
	background: #fff;
	padding : 4rem 0;
	.form-box {
		// width: 600px;
		.o-form-group.submit {
			padding-top: 1rem;
		}
		input[type="submit"] {
			width: 100%;
			line-height: 3rem;
		}
	}
}
