
.o-login-header{
	small {
		color: @color-grey;
		line-height: 1rem;
	}
}

.o-login {

	width: 100%;
	background: #fff;
	padding : 4rem 0;
	.form-box {
		// width: 600px;
		.o-form-group.submit {
			padding-top: 1rem;
		}
		input[type="submit"] {
			width: 100%;
			line-height: 3rem;
		}
	}
}

.o-wx-bind {
	background: #fff;
	padding : 2rem 1rem;

	overflow: hidden;
	.o-form-group {
		margin-bottom: 2rem;
	}
	.o-form-group.submit {
		input[type="submit"]{
			width: 100%;
			position: relative;
			top: 3rem;
			background: @color-brand-primary;
		}
	}

	.sent-check-sms {
		position: relative;
		top: -6rem;
		a {
			font-size: 1rem;
			text-decoration: underline;
		}
	}
}
