/* 微信个人中心 */
.member-wechat-index {
	.header {
		background: #ffffff;
		border-bottom: 1px solid #eeeeee;
	}
	.index-list {
		background: #ffffff;
		border-bottom: 1px solid #eeeeee;
	}
}

/* 微信 */
.wechat-p2p-apply {
	background: #ffffff;
	.submit {
		padding-top: 1rem;
		border-top: 1px solid #eee;
	}
	.apply-help {
		border: 1px solid @global-danger;
		a {
			color: @global-danger;
		}
	}
}
