// Amaze UI Styles

// LESS related
@import "../../node_modules/amazeui/less/variables.less";
@import "../../node_modules/amazeui/less/mixins.less";

// Defaults
@import "../../node_modules/amazeui/less/base.less";

// Layout
@import "../../node_modules/amazeui/less/grid.less";
@import "../../node_modules/amazeui/less/block-grid.less";

// Elements
@import "../../node_modules/amazeui/less/code.less";
@import "../../node_modules/amazeui/less/button.less";
@import "../../node_modules/amazeui/less/table.less";
@import "../../node_modules/amazeui/less/form.less";
@import "../../node_modules/amazeui/less/image.less";

// Nav
@import "../../node_modules/amazeui/less/nav.less";
@import "../../node_modules/amazeui/less/topbar.less";
@import "../../node_modules/amazeui/less/breadcrumb.less";
@import "../../node_modules/amazeui/less/pagination.less";

// Common
@import "../../node_modules/amazeui/less/animation.less";
@import "../../node_modules/amazeui/less/article.less";
@import "../../node_modules/amazeui/less/badge.less";
@import "../../node_modules/amazeui/less/comment.less";
@import "../../node_modules/amazeui/less/button-group.less";
@import "../../node_modules/amazeui/less/close.less";
@import "../../node_modules/amazeui/less/input-group.less";
@import "../../node_modules/amazeui/less/list.less";
@import "../../node_modules/amazeui/less/panel.less";
@import "../../node_modules/amazeui/less/progress.less";
@import "../../node_modules/amazeui/less/thumbnail.less";
@import "../../node_modules/amazeui/less/utility.less";


@import "../../node_modules/font-awesome/less/font-awesome.less";
@import "./sweetalert/theme.less";

@ns : ~"we-";



// color
@brand-blue : #222222;
@brand-yellow: #F39C12;

@font-color : #333333;

@brand-blue-sub : lighten(@brand-blue , 10%);

@brand-info : #3498DB;
@brand-danger : #E74C3C;

@dark : #34495E;
@darker : #1b2032;
@font-size-default : 75%;

html {
  font-size: @font-size-default;
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 1rem;
  color: @font-color;
  height: 100%;
  overflow: hidden;
}

a {
  color: @brand-blue-sub;
}
a:hover {
  color: @brand-yellow;
}



@import "./app/common.less";
@import "./app/flex.less";
@import "./app/auth.less";
@import "./app/dev.less";
