<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">

<script src="/assets/js/pace.min.js"></script>
<link href="/assets/css/pace-theme-flash.css" rel="stylesheet" />

    <title>P2P金融</title>
    <link rel="stylesheet" href="/assets/css/sweetalert.css">
<link rel="stylesheet" href="/assets/css/default.css">


  </head>
  <body>
    <div id="pjax-container">
      <div id="pjax-content">

				<section class="wechat-p2p-index">

					<div class="header o-padding">
		
							<a href="{:url('wechat/p2p/apply')}" class="o-btn o-btn-success o-btn-block pjax">我要借款</a>

					</div>

        <notempty name="products">
          <foreach name="products" item="product">
            <div class="o-padding">
              <h3>{$product.name}</h3>
              <hr>
              <notempty name="product.finance_lists">
                <foreach name="product.finance_lists" item="v">
                  <div class="product-finance-lists">

                    <h3 class="o-text-sm o-cf">
                      <a href="{:url('wechat/p2p/finance?id='.$v->id)}" class="pjax">
                        <div class="o-fl">
                          编号:{:\\LC\\P2p::getFinanceNum($v)}
                        </div>
                        <div class="o-fr">
                          <span class="fa fa-angle-right"></span>
                        </div>

                      </a>
                    </h3>
                    <hr>
                    <div class="">
                      <div class="o-text-xl">
                        {$v.num|money=###}
                      </div>
                      <div class="finance-percentage-box">
                        <div class="finance-percentage" style="width:{$v.percentage * 100}%">
                        </div>
                      </div>
                      <div class="o-cf">
                        <div class="o-fl">
                          完成进度
                        </div>
                        <div class="o-fr">
                          {$v.percentage * 100}%
                        </div>
                      </div>
                      <div class="o-cf">
                        <div class="o-fl">
                          <small>截止时间</small>
                        </div>
                        <div class="o-fr">
                          <small>{$v.raise_end_time|date='Y-m-d' , ###}</small>
                        </div>
                      </div>

                    </div>
                  </div>
                </foreach>
              <else/>
              <p class="o-text-danger">尽请期待</p>
              </notempty>
            </div>
          </foreach>
        </notempty>

				</section>

        <div class="o-padding o-text-center">
          <hr>
          <a href="{:url('member/wechat/index')}" class="pjax o-text-primary">返回</a>
          <br><br><br><br><br>
        </div>

      </div>
    </div>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/index.js"></script>

  </body>
</html>
