<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">

<script src="/assets/js/pace.min.js"></script>
<link href="/assets/css/pace-theme-flash.css" rel="stylesheet" />

    <title>P2P金融</title>
    <link rel="stylesheet" href="/assets/css/sweetalert.css">
<link rel="stylesheet" href="/assets/css/default.css">


  </head>
  <body>
    <div id="pjax-container">
      <div id="pjax-content">

				<section class="wechat-p2p-myloan">

					<h3 class="o-padding-top o-padding-left">我的借款 <small class="o-text-warning">{:\\LC\\P2p::step($loan['step'])}</small></h3>
					<hr>

					<div class="o-padding">
            
					</div>

				</section>

        <div class="o-padding o-text-center">
          <hr>
          <a href="{:url('member/wechat/index')}" class="pjax o-text-primary">返回</a>
          <br><br><br><br><br>
        </div>

      </div>
    </div>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/index.js"></script>

  </body>
</html>
