<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">

<script src="/assets/js/pace.min.js"></script>
<link href="/assets/css/pace-theme-flash.css" rel="stylesheet" />

    <title>{$title}</title>
    <link rel="stylesheet" href="/assets/css/sweetalert.css">
<link rel="stylesheet" href="/assets/css/app.css">


</head>

<body>
    <div class="container" id="pjax-container">
        <div class="container" id="pjax-content">
            <div class="navbar">
    <div class="top">
        <div class="logo">
            <span>橙子CMS v0.1</span>
        </div>

        <ul class="we-nav nav-top">
            <foreach name="tops" item="top">
                <eq name="top.display" value="1">
                    <li class="{$top.active}">
                        <a href="{:url($top['name'])}" class="">
                            <span class="icon fa fa-{$top['icon']}"></span>
                            <span>{$top.title}</span>
                        </a>
                </eq>
                </li>
            </foreach>
        </ul>
    </div>

</div>


            <div class="container-content">
                <div class="container-header we-cf">
  <div class="we-fl">
    <span class="header-title">&nbsp;/ {$title}</span>
  </div>

  <div class="we-fr sign-out">
    <a href="{:url('admin/auth/logout')}"><span class="fa fa-sign-out fa-3x"></span></a>
  </div>
  <div class="we-fr sign-out">
    <a href="{:url('admin/auth/info')}" class="pjax"><span class="fa fa-vcard fa-3x"></span></a>
  </div>
</div>
<notempty name="subs">
<div class="nav-sub we-cf">
  <ul class="we-cf">
      <foreach name="subs" item="vo">

          <li class="{$vo.active} display-{$vo.display} we-fl">
              <a href="{:url($vo['name'])}" class="pjax">{$vo.title}</a>
          </li>

      </foreach>

  </ul>
</div>

</notempty>

                <div class="container-wrap">
                    <div class="we-padding">
                        <h2>{$user.email} 项目分配</h2>
                        <form class="we-form form-ajax" action="{:url('')}" method="post">

                            <foreach name="projects" item="project">
                              <if condition="in_array($project['id'] , $userProjects)">
                                <label for="" class="user-project-item checked">
                                    <input type="checkbox" name="projects[]" value="{$project.id}" checked="">
                                    <span>{$project.title} </span>
                                    <small>{$project.name}</small>
                                </label>
                                <else/>
                                <label for="" class="user-project-item ">
                                    <input type="checkbox" name="projects[]" value="{$project.id}">
                                    <span>{$project.title} </span>
                                    <small>{$project.name}</small>
                                </label>
                              </if>
                            </foreach>
                            <div class="we-cf we-padding">
                                <input type="hidden" name="user_id" value="{$user.id}">
                                <input type="submit" value="提交" class="we-btn we-btn-success">
                                <input type="reset" value="重置" class="we-btn we-btn-danger">
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>

</body>

</html>
